*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #34465c;
}

.container{
	width: 1200px;
	margin: auto;
}
.menu{
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.menu ul li{
	margin: 50px 10px 0px 10px;
	border: none;
	font-size: 1.8rem;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	font-family: "Open Sans",sans-serif;
	padding: .5rem 1rem;
	background-color: transparent;
	transition: all .3s ease-out;
}
.product img {
  display: block;
  width:400px;
  height:200px;
  display: inline-block;
  margin-bottom: 1.87rem;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.product{

}